@font-face {
    font-family: "afacad_fluxregular";
    src: url("./fonts/afacadflux-variablefont_slntwght-webfont.woff2")
            format("woff2"),
        url("./fonts/afacadflux-variablefont_slntwght-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "funnel_displaylight";
    src: url("./fonts/funneldisplay-variablefont_wght-webfont.woff2")
            format("woff2"),
        url("./fonts/funneldisplay-variablefont_wght-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

